/* Add horizontal layout */
form > * {
    display: inline-block;
    margin-right: 20px;
  }
  
  /* Add some basic styling to the form */
  form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  header{
    text-align: center;
  }
  
  label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select, textarea {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    width: 150px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  h1, h2 {
    margin-top: 0;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  .taller-dropdown {
    height: 30px;
}